apparmor==2.9.1
appy==0.9.1
django-appconf==1.0.1
django-grappelli==2.6.4
django-picklefield==0.3.1
Django==1.8
ezodf==0.3.0
Jinja2==2.7.3
LibAppArmor==2.9.1
lxml==3.4.4
MarkupSafe==0.23
odfpy==0.9.6
Pillow==2.8.1
piston-mini-client==0.7.5
ply==3.6
psycopg2==2.6
Pygments==2.0.2
pygobject==3.14.0
selenium==2.45.0
sh==1.11
six==1.9.0
stripogram==1.5
xlsx2csv==0.7.2
